:root{
    --alwahyu-primary:#3e7d37;
    --alwahyu-primary-2:#088e48;
    --alwahyu-accent:#2596be;
    --alwahyu-highlight:#fdf000;
    --alwahyu-dark:#0f172a;
    --alwahyu-text:#334155;
    --alwahyu-border:#e5e7eb;
    --alwahyu-bg:#ffffff;
}